<h1>Friends</h1>

<% friends.forEach(function(friend){ %>
    <li>I have a friend named <%= friend %></li>
<% }); %>

<form action="/addFriend" method="POST">
    <input type="text" name="name" placeholder="name">
    <button>Make a new friend</button>
</form>